@import "tailwindcss";

:root {
   scroll-behavior: smooth;
   scroll-padding-top: 80px;
}

button,
a {
   cursor: pointer;
}

@theme {
   --color-hicea-purple: #7d68b2;
   --color-hicea-pink: #ff99cc;
   --color-contact-purple: #7a569a;
   --color-contact-dark-grey: #4a4a4a;
   --color-contact-light-purple: #e8b4e4;
   --color-contact-dark-purple: #5c3d77;
   --color-contact-button-purple: #8b6ead;
}
